<html lang="en-us" class="nojs">
<head>
	<title> Contact</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no" />
</head>
<body class="test1">
	<header>
		<nav>
			<div class="topnav" id="myTopnav">
				<a href="user.html" class="active"> Home </a>
        
				<button class="logoutbutton" onclick="window.location.href='login.html'"><img src="project-2-images/iconbutton.png" class= "iconButton" alt="logout"></button>

				<div class="dropdown">
					<a class="menu" href="#Menu"> upload </a>
					<button class="dropbtn" onclick="myFunction()">
						<a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
						<i class="fa fa-caret-down"></i>
					</button>
				
					<div class="dropdown-content" id="myDropdown">
						<a href="#">User</a>
						<a href="#">Profile</a>
						<a href="#">Settings</a>
						<a href="index.html">Log out</a>
					</div>
				</div>
			</div>
		</nav>
	</header>
	<div class="TermsContainer-pg">
	<form id="TermsContainer-F">
		<fieldset id="TermsInfo">
		<h1>Contact Us</h1>
		<h3>General Information</h3>
		<p>Illinois Institute of Technology</p>
		<p>10 West 35th Street</p>
		<p>Chicago, IL 60616-3793</p>

		<p>Phone: 312.567.3000</p>
		</fieldset>
	</form>
      </div>
		<footer id="Footer">
			<nav id="links">
				<ul>
					<li><a [routerLink]="['/terms']">Terms of Use</a></li>
					<li><a [routerLink]="['/contact']">Contact Us</a></li>
					<li><a [routerLink]="['/sitemap']">Sitemap</a></li>
				</ul>
			</nav>
		</footer>
</body>
</html>