<html lang="en-us" class="nojs">
<head>
	<title> FixMe IIT </title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no" />
</head>
<body> 
	<div class="container-index">
		<form id="indexContainer" method="get" autocomplete="on" action="login.html">
			<fieldset id="Title">
				<h1> FixIIT</h1>
				<ul class="login">
					<li id="button-login">
						<a routerLink="/login">Login</a>
					</li>
					<li id="button-signup">
                        <a routerLink="/register">Register</a>
					</li>
				</ul>
				<p class="aboutus"> About us: </p>
				<p class="aboutus"> We are Team 6 from the ITMT 430 class of Spring/2018 </p>
				
				<footer id="Footer">
					<nav id="links">
						<ul>
							<li><a [routerLink]="['/terms']">Terms of Use</a></li>
							<li><a [routerLink]="['/contact']">Contact Us</a></li>
							<li><a [routerLink]="['/sitemap']">Sitemap</a></li>
						</ul>
					</nav>
				</footer>
			</fieldset>			
		</form>
	</div>
</body>
</html>
