<!DOCTYPE HTML>
<html lang="en-us" class="nojs">
<head>
	<title> FixMe IIT </title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no" />
</head>
<body> 
	<div class="container-index">
		<form id="indexContainer" method="get" autocomplete="on" action="login.html">
			<fieldset id="Title">
				<h1> FixMe IIT</h1>
				<ul class="login">
					<li id="button-login">
						<a routerLink="/login">Login</a>
					</li>
					<li id="button-signup">
                            <a routerLink="/register">Register</a>
					</li>
				</ul>
				<p id="aboutus"> About us: ---------------------------------------- </p>
				
				<footer id="Footer">
					<nav id="links">
						<ul>
							<li><a href="termsofuse.html">Terms of use</a></li>
							<li><a href="contact.html">Contact</a></li>
							<li><a href="sitemap.html">Sitemap</a></li>
						</ul>
					</nav>
				</footer>
			</fieldset>			
		</form>
	</div>
</body>
</html>
