.container-index{
    border-radius:5px;
    padding: 100px;
    font-family: 'Sofia', "Arial Black", "Arial Bold", Gadget, sans-serif;
	align-content: center;
	opacity: .9;
}

.iit{
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	background-position: center; 
 }

#indexContainer{
	text-align: center;
	background-color: #ccc;
	font-size: 20px;
	font-weight: bold;
	padding: 0px;
	border-style: solid;
	align-content: center;
}

fieldset#Title {
	background-color: #ccc;
	padding: 20px;
	border-style: solid;
	border-width: 8px;
	align-content: center;
}

#Footer{
	background-color: #ccc;
	margin: 0;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	border-top-style: solid;
	border-top-width: 8px;
}

nav#links {
	text-align: center;
	background-color: #cccccc;
}

nav#links ul {
	list-style-type: none;
	display: inline-block;
	padding: 10px;
	margin: 10px;
	overflow: hidden;
}

nav#links ul li {
	width: auto;
	float: left;
}

nav#links ul li a {
	display: block;
	color: black;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	width: 150px;
	padding: 10px 20px 10px 20px;
	border-radius: 15px;
}

nav#links ul li a:hover {
	background-color: #8c8c8c;
	text-decoration: underline;
}

p.aboutus {
	padding-bottom: 0px;
	padding-left: 10px;
	padding-right : 10px;
	margin: 10px;
}

#button-login, #button-signup {
	padding: 10px;
	margin: 10px;
}

#indexContainer {
	margin: auto;
	max-width: 40em;
	align-content: center;
}

ul.login {
	align-content: center;
}